@font-face {
  font-family: 'PixelFont';
  src: url("/fonts/3572.ttf") format("truetype"),
  url("/fonts/12345.woff") format("woff");
}

html, body, .app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

button, input, body, td, html {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  background: white;
  position: relative;
  display: block;
  width: 400px;
  padding: 30px 30px;
}
#login{
  font-weight: bold;
}

.form > h1 {
  color: #f06292;
  margin: 10px 0;

}

.form input, .form button {

  box-shadow: none;
  width: 100%;
  margin: 10px 0 0 0;
  height: 50px;
  box-sizing: border-box;

}

.form button {
  background: #f06292;
  border: none;
  color: white;

}

.form input {
  z-index: 1;
  background: inherit;
  border: none;
  border-bottom: 2px solid;
  transition: border-bottom-color 0.3s ease-in-out;
}

.form > a {
  color: #f06292;
  font-weight: normal !important;
}
.form div{
  margin-top: 5px;
}

a:hover {
  cursor: pointer;

}

.floating-label {

  width: 100%;
  color: gray;
  position: absolute;
  pointer-events: none;
  top: 25px;
  left: 0;
  bottom: auto;
  transition: 0.3s ease all;
  font-weight: normal !important;
  z-index: 2;
}

.form input:focus ~ .floating-label,
.form input:valid ~ .floating-label {
  top: 0;
  font-size: 0.7em;
  color: #f06292;
}

.form > div {
  position: relative;
  line-height: 1em;
}

.form input:focus,
.form input:valid {
  outline: 0;
  border-color: #f06292 !important;
}
button::-moz-focus-inner {
  border: 0;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  background-color: #ECEFF1;
}
body{
  overflow: hidden;
}
.menu_nav {
  display: flex;
  position: relative;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 3px lightgray;
}
.menu_button{
  white-space: nowrap;
  color: black;
  background: white;
  border: none;
  padding: 0;
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.menu_button:active{
  border: none;
  padding-left: 0px;
  outline: none;
}

.menu_button:last-child{
  border-right: none !important;
}

.anim-enter-active, .anim-leave-active {
  transition: opacity .2s;
}

.anim-enter, .on_appear, .anim-leave-to {
  opacity: 0;
}

.on_appear_to, .on_appear_active {
  transition: opacity .8s;
}
.list-item{
  border-top: 1px solid lightgray;
  text-align: center;
  background-color: white;
}
.list-item > img{

  position: relative;
  width: 100%;
  height: 100%;

}
#error{
  display: none;
  padding-top: 10px;
  text-align: center;
  color: #ff0033;
  font-weight: normal;
}
.table_component{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 100%;
}
table{
  border-spacing: 0;
  border-collapse: collapse;
  box-shadow: 0 0 3px lightgray;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
  table-layout: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;

}

thead, thead td, th{
  text-align: left;
  color: black;
  font-weight: bold;
  background-color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
td, th{
  padding: 0 10px;
  min-width: 120px;
}
th>span{
  display: inline-block;
}
td:last-child{
  border-right: none !important;
}
th{
  white-space: nowrap;
}
th, td{
  height: 50px;
}
thead tr:first-child{
  text-transform: capitalize;
  border-bottom: 2px solid #f06292;
}
tbody tr:last-child{
  border-bottom: none !important;
}
tr:nth-child(2n) {background: white}
tbody{
  background-color: #f6f6f6;
  font-weight: normal;
}
table tr{
  box-sizing: border-box;
  overflow: hidden;
}
.table_wrapper{
  max-width: 90%;
  max-height:  50%;
  box-sizing: border-box;
}
.arrow {
  position: relative;
  display: inline-block;
  width: 11px;
  height: 11px;
  background-size: 11px, 11px !important;
}
.arrow.asc {
  background: url("../assets/sort-down.svg");
}
.arrow.dsc {
  background: url("../assets/sort-up.svg");
}
.arrow.default{
  background: url("../assets/sort-default.svg");
}
.flip-row-item{
  transition: all 1s;
}
.flip-row-enter, .flip-row-leave-to{
  opacity: 0;
}
.flip-row-leave-active{
  display: none;
}
.search_wrapper>input{
  background: white url("../assets/search.svg") no-repeat scroll center right 5px;
  background-size: 15px 15px;
  border-radius: 30px;
  border: solid 1px #c2c2c2;
  transition: border .3s ease-in-out;
  position: relative;
  padding: 0 25px 0 10px;
  height: 25px;
  box-sizing: border-box;
  max-width: 150px;
}

.search_wrapper>input:focus{
  border: solid 1px #f06292;

}
.search_icon{
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  background-size: 25px, 25px !important;
  background: url("../assets/search.svg");
}
.search_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.menu_content_wrapper::before{
  display: block;
  bottom: 0;
  content: "";
  background-color: #f06292;
  height: 2px;
  left: 50%;
  width: 0;
  position: absolute;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.router-link-active .menu_content_wrapper::before{
  width: 100%;
}
.router-link-active{
  color: #f06292;
  transition: all .3s ease-in-out;
}
.menu_button .menu_content_wrapper{
  position: relative;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.switch-btn {
  width: 50px; /* ширина переключателя */
  height: 26px; /* высота переключателя */
  border-radius: 80px; /* радиус скругления */
  background: #c2c2c2; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}
.switch-on {
  background: #f06292;
}

.switch-btn input{
  opacity: 0;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  margin: 0;
}
.knobs{
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.knobs::before{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  background-color: white;
  border-radius: 50%;
  transition: .2s all ease-out;
}
.switch-on>.knobs::before{
  left: 27px;
}
.action_button{
  border: none;
  background: none;
  padding: 0;
}

.plus{
  width: 20px;
  height: 20px;
  fill: #f06292;
  transition: fill .2s ease-in-out;
}
.edit{
  width: 25px;
  height: 25px;
  fill: black;
  transition: fill .2s ease-in-out;
}
.edit:hover{
  fill: #f06292;
}
.key{
  width: 25px;
  height: 25px;
  fill: black;
  transition: fill .2s ease-in-out;
}
.key:hover{
  fill: #f06292;
}
.create-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: #f06292;
  border: 1px solid #f06292;
  padding: 0 8px;
  border-radius: 20px;
  margin-right: 5px;
  transition: all .3s;
}
.create-button:hover{
  color: white;
  background-color: #f06292;
}
.actions-block-wrapper{
  display: inline-block;
}
.actions-block-wrapper>div{
  display: inline-block;
}

.table_anim-enter, .table_anim-leave-to, .table_anim-leave-active {
  height: 0;
}
.table_anim-enter-to, .table_anim-leave{
}

.table_anim-enter-active, .table_anim-leave-active{
  transition: height .0s;
}

.fade-enter, .fade-leave-to, .fade-leave-active{
  opacity: 0;
}
.fade-enter-to, .fade-leave{
  opacity: 1;
}
.fade-enter-active, .fade-leave-active{
  transition: opacity .2s;
}

.fade-table-enter, .fade-table-leave-to, .fade-table-leave-active{
  opacity: 0;
}
.fade-table-enter-to, .fade-table-leave{
  opacity: 1;
}
.fade-table-enter-active, .fade-table-leave-active{
  transition: opacity .7s;
}


